body {
    background-color: black;
    overflow: hidden;
    height: 100vh;
    width: auto;
    background-image: url("../img/wall_dark.png");
}
*{
   user-select: none;
   box-sizing: border-box;
}
p{
    font-family: 'VT323', monospace;
}
#container{
    height: 100vh;
    width: auto;
    margin:0;
    padding: 0;
}
#fullBlack{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 110vh;
    width: 200%;
    z-index: 10;
    z-index: 3;
    transition: opacity 0.8s;
    opacity: 0;
    display: none;
}
#game{
    display:none;
    height: 100vh;
    width: auto;
    position: relative;
}
#timer{
    display: block;
    border:3px solid rgb(29, 1, 1);
    color:white;
    border-radius: 0 0 0.5em 0.5em;
    padding: 2px 5px;
    font-size: 50px;
    background-color: rgb(45, 3, 3);
    display:block;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    margin:0 auto;
    transition: 0.6s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#recommend{
    position: absolute;
    bottom: -25px;
    left: 10px;
    letter-spacing: 2px;
    font-family: 'VT323', monospace;
    color:rgb(175, 175, 175);
    transition: 0.2s;
}
#recommend:hover{
    color: white;
}
#recommend h2{
    font-size: 40px;
}
#recommend h4{
    font-size: 25px;
    margin-top: -1em;
}
#credits_list{
    background-color: rgb(15, 15, 15);
    background-image: url("../img/wall_verydark.png");
    margin-top:1em;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    border:5px solid rgb(0, 0, 0);
    font-family: 'VT323', monospace;
    box-shadow: 1px -1px 40px 7px rgb(0, 0, 0);
    overflow-y: auto;
    display:none;
}
#credits_list::-webkit-scrollbar{
    width: 8px;
}
#credits_list::-webkit-scrollbar-thumb{
    background-color: #c7c7c7;
    border-radius: 4px;
}
#credits_list::-webkit-scrollbar-track{
    background-color: #252525;
}
#credits_list h2{
    margin:0 0 2em 0;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    background-color: rgb(20, 20, 20);
    padding: 10px 10px;
}
#credits_back{
    background-color: white;
}
#song_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#song_box div{
    padding: 5px;
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(37, 37, 37);
    border-radius: 0.4em;
    margin:15px 5px;
    transition: 0.2s;
}
#song_box div:hover{
    background-color: rgb(2, 2, 2);
    border:2px solid rgb(77, 77, 77);
    border-radius: 0.2em;
}
#song_box h3{
    font-size: 30px;
    letter-spacing: 1px;
}
#song_box p{
    margin-top:-10px;
    font-size: 20px;
}
#hps{
    display: none;
    width: 30%;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
}
#myHp{
    display: none;
    margin-top:0.5em;
}
#myHp img{
    margin-left:0.2em;
    margin-right:0.2em;
    width: 60px;
}
#hp_bar{
    height: 25px;
    display:flex;
    justify-content: left;
    align-items: left;
    border:3px solid white;
    position:relative;
}
#name{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-style: bold;
    font-family: 'VT323', monospace;
    letter-spacing: 3px;
    font-size: 25px;
}
#hp{
    width: 100%;
    height: 100%;
    background-color: red;
    transition: width 0.1s ease-out;
}
#escape_button {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border: 3px solid white;
    border-radius: 0.5em;
    z-index: 11;
    cursor: pointer;
}
#escape_button div{
    width: 15px;
    height: 40px;
    background-color: white;
    margin: 5px;
    border-radius: 0.2em;
}
#escape_button:hover{
    border: 3px solid gray;
}
#note_button {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 20px;
    height: 60px;
    width: 60px;
    border: 3px solid white;
    border-radius: 0.5em;
    z-index: 11;
    cursor: pointer;
}
#note_button img{
    width: 50px;
    margin-right:4px;
    filter: invert(1);
}
#note_button:hover{
    border: 3px solid gray;
}
#rising{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 1;
    pointer-events: none;
    overflow: hidden;
    display:none;
}
#paper{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(150%, -50%);
    width: 50%;
    height: auto;
    border: 5px solid black;
    box-shadow: 1px -1px 40px 7px rgb(0, 0, 0);
    animation-duration: 1000ms;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-name: rightToMid;
}
@keyframes rightToMid {
    1% {transform: translate(150%, -50%);}
    100% {transform: translate(-50%, -50%)}
}
@keyframes midToLeft {
    0% {transform: translate(-50%, -50%);}
    100% {transform: translate(-250%, -50%)}
}
#startMenuBtns{
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#startMenuBtns div{
    border-radius: 0.2em;
    border:2px solid white;
    color:white;
    font-family: 'VT323', monospace;
    padding:1em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    cursor: pointer;
    text-align: center;
}
#playButton{
    font-size:30px;
    animation-duration: 1000ms;
    animation-play-state: paused;
    animation-name: blink;
    margin:1em;
}
#tutorialButton{
    font-size:20px;
    cursor: pointer;
}
#creditsButton{
    margin: 10px 0px;
    font-size:20px;
    cursor: pointer;
}
#playButton:hover, #tutorialButton:hover, #creditsButton:hover{
    color: black;
    background-color: white;
}
#startMenu{
    display: block;
}
@keyframes blink {
    1% {padding: 0;color: transparent;background-color: white;height: 10px;}
    15% {padding: 0;padding-left: 5em;padding-right: 5em;color: transparent;background-color: white;height: 5px;}
    100% {padding: 0;padding-left: 0.1em;padding-right: 0.1em;;color: transparent;background-color: rgb(126, 125, 125);border:rgb(126, 125, 125);height: 3px;}
}
#characters {
    border: 3px solid rgb(0, 0, 0);
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url("../img/wall.png");
    box-shadow: 1px -1px 40px 7px rgb(0, 0, 0);
    display:none;
    animation-duration: 1000ms;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-name: bottomToMid;
}
@keyframes bottomToMid {
    1% {transform: translate(-50%, 150%);}
    100% {transform: translate(-50%, -50%)}
}
@keyframes midToBottom {
    0% {transform: translate(-50%, -50%);}
    100% {transform: translate(-50%, 150%)}
}

#characters #images {
    display: flex;
    justify-content: center;
    align-items: center;
}

#characters img:hover {
    filter:contrast(0.9);
}

#characters img {
    width: 100%;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
    margin-left:-5em;
    margin-right:-5em;
}

#characters p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size:40px;
    margin: 0.5em;
}

#choose {
    color: white;
    font-size:60px;
    margin-bottom:0.5em;
    font-family: 'VT323', monospace;
}

#canvas_container {
    width: 70%;
    padding-bottom: 39.2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border:5px solid black;
    box-shadow: 1px -1px 40px 7px rgb(0, 0, 0);
}
#canvas {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
#esc{
    font-family: ' VT323', monospace;
    width: 200px;
    height: 200px;
    position: absolute;
    border:3px solid white;
    border-radius: 0.3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.8);
    display:none;
}
#esc div, #music_editor_back{
    background-color:black;
    text-align: center;
    font-size: 17px;
    width: 130px;
    color:white;
    margin:0.5em;
    border: 2px solid white;
    padding:0.3em;
    border-radius: 0.3em;
    cursor:pointer;
    
}
#button_menu{
    display:none;
}
#esc div:hover, #music_editor_back:hover{
    color: black;
    background-color: white;
}
#music_editor{
    font-family: ' VT323', monospace;
    display: none;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 400px;
    height: 260px;
    position: absolute;
    border:3px solid white;
    border-radius: 0.3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color:rgba(0, 0, 0, 0.8);
}
#whichAudio{
    color:white;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
#music_value, #sfx_value{
    color:white;
    font-size: 30px;
    margin:0.5em;
}
#music_volume div, #sfx_volume div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#note_logo, #sfx_logo{
    filter: invert(1);
    width: 80px;
    pointer-events: none;
}
#not_invert_arrow1, #invert_arrow1, #not_invert_arrow2, #invert_arrow2{
    width: 30px;
    border:2px solid white;
    border-radius: 0.4em;
    padding:4px;
    margin:0.5em;
    cursor:pointer;
}
#not_invert_arrow1:hover, #invert_arrow1:hover, #not_invert_arrow2:hover, #invert_arrow2:hover{
    border: 2px solid gray;
}
#invert_arrow1, #invert_arrow2{
    transform: rotate(180deg);
}
#music_volume, #sfx_volume{
    display: flex;
    align-items:center;
}
#black {
    background-color: black;
    width: 150%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
}
#transition1, #transition2 {
    width: 300%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
}
#scene {
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 5;
    pointer-events: none;
    display:none;
}
#text{
    max-width: fit-content;
    top: 15%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}
#music{
    left: 0;
    top: 0; 
    height: 0;
}

@media (max-width: 800px) {
    #canvas_container{
        width: 90%;
        padding-bottom: 49%;
    }
    #choose{
        font-size: 20px;
    }
    #characters img{
        width: 50%;
    }
    #characters p{
        font-size: 30px;
    }
    #text{
        top:10%;
        width: 50%;
        height: auto;
    }
}
@media (max-height: 650px) {
    #canvas_container{
        width: 60%;
        padding-bottom: 33%;
    }
    #text{
        top:10%;
        width: 50%;
        height: auto;
    }
    #hp_bar{
        height: 15px;
        border:2px solid white;
    }
    #name{
        font-size: 15px;
    }
    #choose{
        font-size: 20px;
    }
    #characters img{
        width: 30%;
    }
    #characters p{
        font-size: 20px;
    }
}
@media (max-height: 900px) {
    #myHp img{
        margin-top:-0.3em;
        width: 35px;
    }
    #song_box p{
        font-size: 14px;
    }
    #song_box h3{
        font-size: 20px;
    }
    #recommend{
        bottom:0;
    }
    #recommend h2{
        font-size:20px;
        margin-bottom:1em;
    }
    #recommend h4{
        font-size:16px
    }
}
@media (max-width: 1000px) {
    #song_box p{
        font-size: 14px;
    }
    #song_box h3{
        font-size: 20px;
    }
    #sfx_in_box{
        margin-top:100em;
    }
    #recommend{
        bottom:0;
    }
    #recommend h2{
        font-size:20px;
        margin-bottom:1em;
    }
    #recommend h4{
        font-size:16px
    }
}

