body {
    background-color: black;
    height: 100vh;
    width: auto;
    background-image: url("../img/wall_dark.png");
    padding-top: env(safe-area-inset-top);
}

html, body {
    overflow: hidden; /* Zamezí scrollování */
    margin: 0;
    padding: 0;
    height: 100%;
}
  

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw; /* Nastaví šířku na 100% šířky viewportu */
    height: 100vh; /* Nastaví výšku na 100% výšky viewportu */
    object-fit: cover; /* Ujistí se, že video pokrývá celý prostor */
    z-index: -1;
}
*{
   user-select: none;
   box-sizing: border-box;
}
p{
    font-family: 'VT323', monospace;
}
#clock{
    font-size: 50px;
    color:rgba(0, 255, 34, 0.6);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    margin-left: 700px;
}

@media (min-width: 1921px) {
    #clock {
        display: none;
    }
}

@media (max-width: 1919px) {
    #clock {
        display: none;
    }
}
#container {
    position: relative;
    height: 100dvh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#fullBlack{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 110vh;
    width: 200%;
    transition: opacity 0.8s;
    opacity: 1;
    display: block;
    pointer-events: none;
    z-index: 30;
}
#load_container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;
    transition: opacity 0.5s;
    pointer-events: none;
}
#loading_text{
    color:white;
    font-size: 2vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top:5vh;
}
#running_rioter{
    position: absolute;
    width: 10%;
    height: auto;
    margin-top: -3vw;
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white);
}
#loading_bar{
    border:3px solid white;
    width: 20vw;
    height: 2vh;
    display: flex;
    justify-content: left;
    align-items: left;
}
#loading_color{
    background-image: linear-gradient(to right, rgb(253, 35, 35) , rgb(0, 255, 64));
    width: 0;
    height: 100%;
}
#game{
    display:none;
    height: 100vh;
    width: auto;
    position: relative;
}
#timer{
    display: block;
    border:3px solid rgb(29, 1, 1);
    color:white;
    border-radius: 0 0 0.5em 0.5em;
    padding: 2px 5px;
    font-size: 50px;
    background-color: rgb(45, 3, 3);
    display:block;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 100;
    transition: 0.6s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#recommend{
    position: absolute;
    bottom: 0;
    left: 0;
    letter-spacing: 2px;
    font-family: 'VT323', monospace;
    color:white;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 15px 0 0;
    text-align: center;
    padding: 0 20px;
}
#recommend:hover{
    color:rgb(194, 194, 194)
}
#recommend h2{
    font-size: 2vw;
}
#recommend h4{
    font-size: 1.2vw;
    margin-top: -1em;
}
#credits_list{
    z-index: 6;
    background-color: rgb(15, 15, 15);
    background-image: url("../img/wall_verydark.png");
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: fit-content;
    border:5px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'VT323', monospace;
    box-shadow: 1px -1px 40px 7px rgb(0, 0, 0);
    overflow-y: auto;
    display:none;
    cursor: pointer;
}
#red_cross_credits{
    color:white;
    position: sticky;
    top: 5%;
    left: 93%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 2vw;
    z-index: 4;
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black) drop-shadow(1px -1px 0 black) drop-shadow(-1px 1px 0 black);
    cursor: pointer;
}
#credits_list::-webkit-scrollbar{
    width: 8px;
}
#credits_list::-webkit-scrollbar-thumb{
    background-color: #c7c7c7;
    border-radius: 4px;
}
#credits_list::-webkit-scrollbar-track{
    background-color: #252525;
}
#credits_list h2{
    margin:0 0 2em 0;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    background-color: rgb(20, 20, 20);
    padding: 10px 10px;
}
#credits_back{
    background-color: white;
}
#achievements_list h2, #achievements_counter{
    text-align: center;
    font-size: 2.5vw;
    font-family: 'VT323', monospace;
    letter-spacing: 0px;
    margin:1vw;
}
#achievements_list{
    display: none;
    background-color: rgb(15, 15, 15);
    background-image: url("../img/wall_verydark.png");
    color:white;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 45%;
    overflow-y: auto;
    z-index: 1;

    animation-duration: 1000ms;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-name: bottomToUp_Achievement;
}
#gate{
    color:white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 50%;
    filter: drop-shadow(0 0 20px rgb(2, 2, 2));
    pointer-events: none;
    z-index: 2;
    display: none; 

    animation-duration: 1000ms;
    animation-play-state: paused; 
    animation-fill-mode: forwards; 
    animation-name: bottomToUp_Gate;
}

#red_cross_achievements, #red_cross_tutorials{
    color:white;
    position: absolute;
    top: 30%;
    right: 26.5%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 3vw;
    pointer-events: none;
    z-index: 3;
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black) drop-shadow(1px -1px 0 black) drop-shadow(-1px 1px 0 black);
    cursor: pointer;

    display: none; 
    animation-duration: 1000ms;
    animation-play-state: paused; 
    animation-fill-mode: forwards; 
    animation-name: bottomToUp_Gate;
}

#red_cross_achievements:hover, #red_cross_tutorials:hover{
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white);
}

@keyframes bottomToUp_Achievement {
    0% {top: 300%;}
    100% {top: 62%;}
}
@keyframes bottomToUp_Gate {
    0% {top: 320%;}
    100% {top: 55%;}
}
@keyframes bottomToUp_Cross {
    0% {top: 320%;}
    100% {top: 30%;}
}
@keyframes upToBottom_Achievement {
    0% {top: 62%;}
    100% {top: 300%;}
}
@keyframes upToBottom_Gate {
    0% {top: 55%;}
    100% {top: 320%;}
}
@keyframes upToBottom_Cross{
    0% {top: 30%;}
    100% {top: 300%;}
}
#achievements_list::-webkit-scrollbar {
    display: none;
}

#achievement_in_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/achievement_bronze.png");
    height: 13vw;
    width: 32.5vw;
    position: relative;
    margin: 0 auto;
    margin-top: -7%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

#achievement_in_list:hover{
    transform: scale(1.03);
}

#achievement_img_in_list {
    height: 28.125%;
    width: auto;
    border: 4px dashed black;
    margin-left: 4%;
    filter:grayscale(1);
    border-radius: 7px;
}

#achievement_text_in_list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 28.125%;
    width: 30%;
    margin: 1%;
    padding: 0 5%;
    color: black;
    font-size: 1vw;
}

#correct_symbol_in_list {
    height: 28.125%;
    width: auto;
    margin: 1%;
    filter: drop-shadow(2px 2px 2px #222);
}

#tutorials_list h2{
    text-align: center;
    font-size: 4vw;
    font-family: 'VT323', monospace;
    letter-spacing: 2px;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    width: 90%;
}
#tutorials_list{
    background-color: rgb(15, 15, 15);
    background-image: url("../img/wall_verydark.png");
    color:white;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 45%;
    overflow-y: auto;
    z-index: 1;
    display: none;

    animation-duration: 1000ms;
    animation-play-state: paused; 
    animation-fill-mode: forwards; 
    animation-name: bottomToUp_Tutorial;
}

#tutorials_list::-webkit-scrollbar {
    display: none;
}

@keyframes bottomToUp_Tutorial {
    0% {top: 300%;}
    100% {top: 62%;}
}
@keyframes upToBottom_Tutorial {
    0% {top: 62%;}
    100% {top: 300%;}
}
#tutorials_players{
    width: 85%;
    margin: 0 auto;
    display: flex;
}
#tutorials_players h3{
    font-size: 3vw;
    font-family: 'VT323', monospace;
    letter-spacing: 2px;
    margin:-0.3vw;
}
#tutorials_p1, #tutorials_p2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1vw;
}
#tutorials_players img{
    max-width: 70%;
}
#tutorial{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1vw 0 1vw 0;
    margin-bottom:1vw;
}
#tutorial_name{
    width: 35%;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'VT323', monospace;
}
#tutorial_video{
    width: 60%;
    border-radius: 5px;
    filter: drop-shadow(0 10px 20px rgb(0, 0, 0));
    border:3px outset rgb(189, 188, 188);
    transition: 0.2s;
    cursor: pointer;
}
#tutorial_video:hover{
    transform: scale(1.02);
    filter:drop-shadow(0 10px 20px rgb(0, 0, 0)) brightness(130%);
}
#song_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#song_box div{
    padding: 5px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(37, 37, 37);
    border-radius: 0.4em;
    margin:15px 5px;
    transition: 0.2s;
    text-align: center;
}
#song_box div:hover{
    background-color: rgb(2, 2, 2);
    border:2px solid rgb(77, 77, 77);
    border-radius: 0.2em;
}
#song_box h3{
    font-size: 30px;
    letter-spacing: 1px;
}
#song_box p{
    margin-top:-10px;
    font-size: 20px;
}
#myStats{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left:0.2em;
    margin-right:0.2em;
}
#deathCounterShow{
    color:white;
    font-family: 'VT323', monospace;
    font-size: 2.5vw;
    margin:0;
    margin-left:0.4vw;
}
#deadImage{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: fit-content;
    margin-top: 1vh;
    margin-left: 1vh;
}
#deadImage img{
    height: 6vh;
    width: auto;
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white);
}
#myHp{
    display: none;
}
#myHp img{
    width: 60px;
    margin-right:5%;
}
#hp {
    width: 100%;
    height: 100%;
    background-color: red;
    transition: width 0.1s ease-out;
}

#hp_bar {
    height: 25px;
    display: flex;
    justify-content: left;
    align-items: left;
    border: 3px solid white;
    position: relative;
    width: 100%;
}

.divider {
    height: 100%;
    width: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transition: 0.3s;
    opacity: 1;
}

#divider1 { left: 20%; }
#divider2 { left: 40%; }
#divider3 { left: 60%; }
#divider4 { left: 80%; }

.alien_divider {
    height: 100%;
    width: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transition: 0.3s;
    opacity: 1;
    border:3px solid white;
}

#alien_divider1 { left: 25%; }
#alien_divider2 { left: 50%; }
#alien_divider3 { left: 75%; }

#name {
    background-color: black;
    border-radius: 0 0 10px 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'VT323', monospace; 
    letter-spacing: 3px;
    font-size: 25px;
}
#hps {
    display: none;
    flex-direction: column;
    width: 30%;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#right_buttons{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
}
#right_buttons div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    align-items: center;
    height: 60px;
    width: 60px;
    border: 3px solid white;
    border-radius: 0.5em;
    z-index: 11;
    cursor: pointer;
}
#escape_button div{
    width: 15px;
    height: 40px;
    background-color: white;
    margin: 5px;
    border-radius: 0.2em;
}
#note_button img{
    width: 50px;
    margin-right:4px;
    filter: invert(1);
}
#achievement_button img{
    width: 50px;
    filter: invert(1);
}
#achievement_counter_in_right{
    font-family: 'VT323', monospace;
    text-align: center;
    margin-top: -10px;
    font-size: 20px;
    color: white;
}
#rising{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 1;
    pointer-events: none;
    overflow: hidden;
    display:none;
}
#achievement {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    height: 11.5%;
    position: absolute;
    top: 3%;
    right: 1%;
    z-index: 15;
    font-size: 2vw;
    font-family: 'VT323', monospace;
    text-align: center;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    filter: blur(1px);

    animation-duration: 1000ms;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-name: rightToMid_achievement;
}
#achievement::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0 10px 20px rgb(0, 0, 0));
    z-index: -1;
}
#achievement_img{
    height: 70%;
    width: auto;
    border:3px dashed black;
    border-radius: 5px;
    filter: grayscale(100%);
}
#achievement p {
    font-size: 56%;
    width: 30%;
    margin-left:2%;
}
@keyframes rightToMid_achievement {
    0% {right: -80%;}
    100% {right: 1%;}
}
@keyframes midToRight_achievement {
    0% {right: 1%;}
    100% {right: -80%;}
}
#correct_symbol{
    width: 10%;
    margin:1%;
    height: auto;
    filter: drop-shadow(2px 2px 2px #222);
}
#credits_boss {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 10px;
    width: 100%;
    z-index: 3;
    font-family: 'VT323', monospace;
}
#credits_boss div{
    margin-bottom:2em;
    text-align: center;
    color:white;
}
#credits_boss h1{
    color:white;
    font-size: 2vw;
}
#credits_boss h3{
    color:white;
    font-size: 3vw;
}
#credits_boss h2{
    color:white;
    font-size: 4vw;
    margin-top:3em;
}
#credits_boss p{
    color:rgb(190, 200, 255);
    font-size: 2vw;
    margin-top:-1em;
}
#golden_egg{
    cursor: pointer;
    width: 20%;
}
#leap_and_run_credits{
    width: 80%;
    height: auto;
}
#skip_credits{
    width: 20%;
    text-align: center;
    position: absolute;
    bottom: 0%;
    right: -80%;
    transform: translate(-50%, -50%);
    z-index: 11;
    cursor: pointer;
    font-size: 2vw;
    border:4px outset white;
    background-color: rgba(0, 0, 0, 0.8);
    color:rgb(226, 226, 223);
    font-family: 'VT323', monospace;
    cursor: pointer;
    text-align: center;
    border-radius: 7px;
    display:none;
    pointer-events: none;

    animation-duration: 1000ms;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-name: rightToMid_btn;
}
#skip_credits:hover{
    background-color: white;
    color:black;
}
@keyframes rightToMid_btn {
0% {right: -80%;}
100% {right: -8%;}
}
@keyframes midToRight_btn {
0% {right: -8%;}
100% {right: -80%;}
}

@keyframes rightToMid {
    1% {transform: translate(150%, -50%);}
    100% {transform: translate(-50%, -50%)}
}
@keyframes midToLeft {
    0% {transform: translate(-50%, -50%);}
    100% {transform: translate(-250%, -50%)}
}
#startMenuBtns{
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#startMenuBtns div{
    border:4px outset white;
    background-color: rgba(0, 0, 0, 0.8);
    color:rgb(226, 226, 223);
    font-family: 'VT323', monospace;
    padding:1em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    cursor: pointer;
    text-align: center;
    border-radius: 7px ;
}
#startBtns{
    display: flex;
    flex-direction: row;
}
#playButton, #playButtonMulti{
    font-size:1.5vw;
    animation-duration: 1000ms;
    animation-play-state: paused;
    animation-name: none;
    margin:1em;
}
#otherBtns{
    width: fit-content;
    margin-top: -5%;
    
}
#achievementsButton, #tutorialButton, #creditsButton{
    margin: 5px 0px;
    font-size:1vw;
    cursor: pointer;
}
#playButton:hover, #playButtonMulti:hover, #achievementsButton:hover, #tutorialButton:hover, #creditsButton:hover{
    background-color: rgb(0, 0, 0);
    border:4px solid white;
    color:white;
}
#startMenu{
    display: block;
}
@keyframes blink {
    0% {padding: 0;color: transparent;background-color: white;height: 10px;}
    15% {padding: 0;padding-left: 5em;padding-right: 5em;color: transparent;background-color: white;height: 5px;}
    100% {padding: 0;padding-left: 0.1em;padding-right: 0.1em;;color: transparent;background-color: rgb(126, 125, 125);border:rgb(126, 125, 125);height: 3px;}
}
#characters {
    border: 3px solid rgb(0, 0, 0);
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url("../img/wall.png");
    box-shadow: 1px -1px 40px 7px rgb(0, 0, 0);
    display:none;
    animation-duration: 1000ms;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-name: bottomToMid;
}
@keyframes bottomToMid {
    1% {transform: translate(-50%, 500%);}
    100% {transform: translate(-50%, -50%)}
}
@keyframes midToBottom {
    0% {transform: translate(-50%, -50%);}
    100% {transform: translate(-50%, 500%)}
}

#characters #images {
    display: flex;
    justify-content: center;
    align-items: center;
}

#man:hover, #woman:hover {
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white);
}

#man, #woman {
    width: 100%;
    height: auto;
    cursor: pointer;
}

#rioter{
    width: 100%;
    height: auto;
    position: relative;
}
#ruby{
    width: 100%;
    height: auto;
    position: relative;
}

#man_hat, #man_shine{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    pointer-events: none;
}

#woman_hat, #woman_shine {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    pointer-events: none;
}

#characters p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size:40px;
    margin: 0.5em;
}

#chooseDungeon {
    border: 3px solid white;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image:url("../img/wall_verydark.png");
    box-shadow: 1px -1px 40px 7px rgb(0, 0, 0);
    transform: translate(-50%, 150%);
    animation-duration: 1000ms;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-name: bottomToMid;
    pointer-events: none;
}
#chooseDungeon div{
    margin: 1vw;
}
#chooseDungeon img{
    width: 17vw;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    margin: 1vw;
    transition: 0.3s;
}
#chooseDungeon img:hover{
    filter:brightness(130%);
    transform:scale(1.02);
}
#chooseDungeon p{
    font-size: 2vw;
    color: white;
    margin: 5px;
    margin-top: -5px;
}
#castleDungeon{
    border:2px solid rgb(3, 206, 53);
}
#steampunkDungeon{
    border:2px solid rgb(209, 173, 11);
}
#spaceshipDungeon{
    border:2px solid rgb(170, 6, 6);
}
#choose {
    color: white;
    font-size:60px;
    margin-bottom:0.5em;
    font-family: 'VT323', monospace;
}

#canvas_container {
    width: 70%;
    padding-bottom: 38.8%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 5px solid black;
    box-shadow: 1px -1px 40px 7px rgb(0, 0, 0);
    position: relative;
}
#canvas {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: black;
}
#canvas_darkness {
    width: 101%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#canvas_transition {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
#esc{
    font-family: ' VT323', monospace;
    width: 200px;
    height: 200px;
    position: absolute;
    border:3px solid white;
    border-radius: 0.3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.8);
    display:none;
}
#esc div, #music_editor_back{
    background-color:black;
    text-align: center;
    font-size: 17px;
    width: 130px;
    color:white;
    margin:0.5em;
    border: 2px solid white;
    padding:0.3em;
    border-radius: 0.3em;
    cursor:pointer;
    
}
#button_menu{
    display:none;
}
#esc div:hover, #music_editor_back:hover{
    color: black;
    background-color: white;
}
#music_editor{
    font-family: ' VT323', monospace;
    display: none;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 400px;
    height: 260px;
    position: absolute;
    border:3px solid white;
    border-radius: 0.3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color:rgba(0, 0, 0, 0.8);
}
#whichAudio{
    color:white;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
#music_value, #sfx_value{
    color:white;
    font-size: 30px;
    margin:0.5em;
}
#music_volume div, #sfx_volume div{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#note_logo, #sfx_logo{
    filter: invert(1);
    width: 80px;
    pointer-events: none;
}
#not_invert_arrow1, #invert_arrow1, #not_invert_arrow2, #invert_arrow2{
    width: 30px;
    border:2px solid white;
    border-radius: 0.4em;
    padding:4px;
    margin:0.5em;
    cursor:pointer;
}
#not_invert_arrow1:hover, #invert_arrow1:hover, #not_invert_arrow2:hover, #invert_arrow2:hover{
    border: 2px solid gray;
}
#invert_arrow1, #invert_arrow2{
    transform: rotate(180deg);
}
#music_volume, #sfx_volume{
    display: flex;
    align-items:center;
}
#skins{
    max-width: 20%;
    position: absolute;
    bottom: 0px;
    right: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'VT323', monospace;
    margin:10px;
    animation-duration: 1000ms;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-name: none;
}
@keyframes rightToMidSkins {
    0% {right: -1000px;}
    100% {right: 10px;;}
}
@keyframes midToRightSkins {
    0% {right: 10px;}
    100% {right: -1000px;;}
}
#skins span{
    border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.8);
}
#skins h1{
    text-align: center;
    margin: 0;
    letter-spacing: 3px;
    font-size: 3.5vw;
    color: transparent;
    background: linear-gradient(0deg, rgb(206, 64, 8), rgb(253, 255, 136));
    background-clip: text;
    margin-bottom: 10px;
    filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black) drop-shadow(2px -2px 0 black) drop-shadow(-2px 2px 0 black);
}
#skins #names{
    display: flex;
    flex-direction: row;
}
#skins #names p{
    width: 50%;
    text-align: center;
    color:white;
    font-size: 3vw;
    margin: 2px;
    margin-bottom: 5px;
}
#skins_img{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#skins img{
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}
#choose_rioter_hat, #choose_rioter_shine{
    position: absolute;
    pointer-events: none;
    z-index: 1;
}
#choose_ruby_hat, #choose_ruby_shine{
    position: absolute;
    pointer-events: none;
    z-index: 1;
    left:50%;
}
#choose_rioter_shine, #choose_ruby_shine{
    display: none;
}

#choose_rioter:hover, #choose_ruby:hover{
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white);
}
#leftHat, #middleHat, #rightHat{
    height: 30%;
    width: 33.333%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
#leftHat, #middleHat, #rightHat, #rightArrowHat, #leftArrowHat{
    margin-bottom: -15%;
}
#middleHatImg{
    transition: 0.2s;
    width: 30%;
    height: auto;
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white);
}
#leftHatImg, #rightHatImg{
    filter: blur(3px) brightness(40%);
    width: 20%;
    height: auto;
}
#skinChangerBox{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: 80%;
    border:5px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 1) 0px 22px 70px 4px;
    top: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    background-image: url("../img/wall_verydark.png");
    overflow: hidden;
    animation-duration: 1000ms;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-name: bottomToMid;
    z-index: 2;
}
#leftSkin, #middleSkin, #rightSkin{
    height: 40%;
    width: 33.333%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
#middleSkinImg{
    transition: 0.2s;
    width: 60%;
    height: auto;
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white);
}
#middleSkinImgWithHat{
    position: absolute;
    width: 59.75%;
    margin-top: -20%;
}
#middleSkinImgShine{
    position: absolute;
    width: 59.75%;
    display: none;
}
#leftSkinImg, #rightSkinImg{
    filter: blur(3px) brightness(40%);
    width: 40%;
    height: auto;
}
#bottomBox{
    display:block;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    margin-bottom: -50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#chooseSkinBtn{
    font-family: ' VT323', monospace;
    text-align: center;
    color:white;
    border-radius: 4px;
    padding: 15px 10px;
    font-size: 1.5vw;
    border:3px solid white;
    width: 40%;
    height: 30%;
    cursor: pointer;
    display: none;
    margin: -10px;
}
#locked{
    font-family: ' VT323', monospace;
    text-align: center;
    color:white;
    border-radius: 4px;
    width: 40%;
    height: 30%;
    padding:0;
    background-color: rgba(0, 0, 0, 0.8);
    display:none;
    margin: -100px 10px;
}
#locked img{
    width: 20%;
    margin-top:0.8vw;
}
#lock_text{
    font-size: 1.4vw;
    margin:10px;
}
#leftArrow{
    transform: rotate(270deg);
    cursor: pointer;
    transition: 0.2s;
    width: 5vw;
    height: auto;
}
#rightArrow{
    transform: rotate(90deg);
    cursor: pointer;
    transition: 0.2s;
    width: 5vw;
    height: auto;
}
#leftArrowHat{
    transform: rotate(270deg);
    cursor: pointer;
    transition: 0.2s;
    width: 3vw;
    height: auto;
    margin-top: -20%;
}
#rightArrowHat{
    transform: rotate(90deg);
    cursor: pointer;
    transition: 0.2s;
    width: 3vw;
    height: auto;
    margin-top: -20%;
}
#rightArrow:hover, #leftArrow:hover, #rightArrowHat:hover, #leftArrowHat:hover{
    opacity: 50%;
}
#black {
    background-color: black;
    width: 150%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
}
#text{
    width: 50vw;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    margin-top: -325px;
    filter: drop-shadow(5px 5px 2px #020202);
}
#music{
    left: 0;
    top: 0; 
    height: 0;
}
#buttons{
    display:none;
}
#buttons img{
    max-width: 65px;
    max-height: 65px;
    z-index:-1;
    pointer-events: none;
}
#button_enter{
    display: none;
    justify-content: center;
    align-items: center;
    width:  78.5px;
    height: 78.5px;
    margin-left:0.5em;
    color:white;
    font-size: 15px;
    border:5px solid rgba(255, 255, 255, 0.6);
    background-color:rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    border-radius: 1em;
}
#buttons_right_column{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttons_left_column{
    width: 100%;
    justify-content: center;
    align-items: center;
}
#left_buttons_arrows, #right_buttons_arrows {
    position: absolute;
}
#left_buttons_arrows {
    left: 3%;
    display:flex;
    bottom: 10px;
}
#right_buttons_arrows {
    right: 3%;
    bottom: 35px;
    display: flex;
}
#button_up, #button_punch, #button_down {
    width: fit-content;
    height: fit-content;
    border:5px solid rgba(255, 255, 255, 0.6);
    background-color:rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    border-radius: 1em;
    filter: invert(0.15);
}

#button_right, #button_left {
    width: fit-content;
    height: fit-content;
    border:5px solid rgba(255, 255, 255, 0.6);
    background-color:rgba(0, 0, 0, 0.6);
    margin-left: 10px;
    border-radius: 1em;
    filter: invert(0.15);
}
#button_down img{
    transform: rotate(180deg);
}
#button_right img{
    transform: rotate(90deg);
}
#button_left img{
    transform: rotate(270deg);
}

#buttons img{
    opacity: 60%;
    width: 80px;
    height: 80px;
    pointer-events: none
}

@media (max-width: 900px) {
    #canvas_container{
        width: 90%;
        padding-bottom: 49%;
    }
    #choose{
        font-size: 20px;
    }
    #characters p{
        font-size: 30px;
    }
    #text{
        width: 100vw;
    }
    #middleHatImg{
        margin-bottom: 5vh;
    }
}
@media (max-height: 650px) {
    #canvas_container{
        width: 60%;
        padding-bottom: 33%;
    }
    #hp_bar{
        height: 15px;
        border:2px solid white;
    }
    #name{
        font-size: 15px;
    }
    #choose{
        font-size: 20px;
    }
    #characters img{
        width: 30%;
    }
    #characters p{
        font-size: 20px;
    }
    #recommend h2{
        font-size: 3vw;
    }
    #recommend h4{
        font-size: 2vw;
        margin-top: -1em;
    }
    
}
@media (max-height: 750px) {
    #chooseDungeon img{
        width: 10vw;
    }
    #middleHatImg{
        margin-bottom: 5vh;
    }
}
@media (max-height: 400px) {
    #canvas_container{
        width: 50%;
        padding-bottom: 27%;
    }
}
@media (max-height: 950px) {
    #myHp img{
        margin-top:-0.3em;
        width: 35px;
    }
    #song_box p{
        font-size: 14px;
    }
    #song_box h3{
        font-size: 20px;
    }
    #text{
        margin-top: -150px;
    }
    #text{
        width: 30vw;
    }
}
@media (max-width: 1000px) {
    #song_box p{
        font-size: 14px;
    }
    #song_box h3{
        font-size: 20px;
    }
    #sfx_in_box{
        margin-top:100em;
    }
    #song_box div{
        width: 100%;
    }
    #playButton, #playButtonMulti{
        font-size: 2.5vw;
    }
    #achievementsButton, #tutorialButton, #creditsButton{
        font-size: 1.8vw;
    }
    #credits_boss div{
        margin-bottom:1em;
        text-align: center;
    }
    #credits_boss h1{
        font-size: 2vw;
    }
    #credits_boss h3{
        font-size: 2vw;
    }
    #credits_boss h2{
        font-size: 3vw;
        margin-top:2em;
    }
    #credits_boss p{
        font-size: 2vw;
        margin-top:-0.5em;
    }
}

